===========================================================
{{ sm_motd_message }}

Hostname   : {{ ansible_hostname }}
OS         : {{ ansible_distribution }} {{ ansible_distribution_version }}
Managed by : Ansible (system_manager role)
Last apply : {{ ansible_date_time.iso8601 }}
===========================================================
